<nav class="bg-black">
    <div class=" max-w-6x1 py-3 mx-auto border ">
        <div class="flex justify-center">
            <div class="flex">
                <img src="https://avatars.githubusercontent.com/u/69711881?v=4" class="rounded-full  w-7 h-7">
                <button @click="" class="flex">
                    <span class="px-3 self-center text-lg text-[#FFFFFF] font-semibold whitespace-nowrap fadein-bot hover:text-gray-200">JUNSHEN();</span>
                </button>
            </div>
            <div class="hidden md:flex justify-between items-center w-full md:w-auto md:order-1" id="mobile-menu-3">
                <ul class="flex-col md:flex-row flex md:space-x-8 mt-4 md:mt-0 md:text-sm md:font-medium">
                    <li>
                        <p class="text-white">home</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>